$fa-font-path: "../styles/fonts" !default;
@import ../../../node_modules/font-awesome/scss/font-awesome.scss
@import ../../../node_modules/bulma/bulma.sass

.player-controls
  .icon
    cursor: pointer

.icon.fa-plus
  cursor: pointer

.column
  figure, label
    margin: auto

.button.remove-cover
  position: absolute
  left: 70px
  top: 0
  font-size: .8em
