script#admin-albums-template(type="x-template")
  nav.panel(v-if="albums.length")
    .panel-heading Albums
    .panel-block
      .column.is-2 Cover
      .column.is-7 Title
      .column.is-1 Year
      .column.is-2.has-text-centered Actions
    adminAlbum(v-for="album in albums" v-bind:key="album.id" v-bind:album="album")
