script#admin-album-template(type="x-template")
  .panel-block
    .column.is-2
      figure.image.is-64x64
        span(v-if="cover")
          img(:src="'data:image/jpeg;base64,' + cover")
          .button.is-danger.remove-cover(@click="removeCover" title="Remove cover")
            span.icon: i.fa.fa-trash
        span(v-else)
          img(src="/images/64x64.png")

      .file
        label.file-label
          input.file-input(type="file" @change="changeCover")
          span.file-cta
            span.file-icon: i.fa.fa-upload
            span.file-label Upload file
    .column.is-7
      input.input(:value="album.title" v-model="title")
    .column.is-1
      input.input(:value="album.year" v-model="year")
    .column.is-2.has-text-centered
      .button.is-info(@click="update(album)") Update
