script#admin-folder-template(type="x-template")
  nav.panel
    .panel-heading Folders
    .panel-block
      .control.has-icons-left
        input.input.is-small#folder(placeholder="Search" @keyup.enter="postFolder")
        span.icon.is-small.is-left.fa.fa-search
    .panel-block(v-for="folder in folders")
      .column.is-11
        h4.is-4.title {{ folder.path }}
      .column.is-1.has-text-right
        .delete.is-medium(title="delete" @click="deleteFolder(folder)")
    .panel-block(v-if="errors && errors.length > 0")
      article.message.is-danger
        .message-header Erro!
          button.delete(@click="closeErrors")
        .message-body(v-for="error in errors") {{ error.message }}
