script#albums-template(type="x-template")
  nav.panel
    .panel-heading Listing by title
    .panel-block
      .column.is-2 Cover
      .column.is-9 Title
      .column.is-1.has-text-centered Songs
    .panel-block(v-for="album in albums")
      .column.is-2
        figure.image.is-128x128()
          img(v-if="album.cover" v-bind:src="'data:image/png;base64,' + album.cover")
          img(v-else src="/images/64x64.png")
      .column.is-9
        h4.is-4.title
          router-link(:to="'/albums/' + album.title") ({{ album.year }}) {{ album.title }}
      .column.is-1.has-text-centered
        .tag.is-medium.is-primary {{ album.songs }}
