script#artists-template(type="x-template")
  nav.panel
    .panel-heading Listing by name
    .panel-block
      .column.is-10 Name
      .column.is-1.has-text-centered Album(s)
      .column.is-1.has-text-centered Song(s)
    .panel-block(v-for="artist in artists")
      .column.is-10
        h4.is-4.title
          router-link(:to="'/artists/' + artist.name") {{ artist.name }}
      .column.is-1.has-text-centered
        .tag.is-medium.is-primary {{ artist.albumsCount }}
      .column.is-1.has-text-centered
        .tag.is-medium.is-primary {{ artist.songsCount }}
