script#footer-template(type="x-template")
  footer.footer
    .container
      .content.has-text-centered
        a(href="http://github.com/hitalos/radiola" title="github") Radiola
        span  by
        a(href="mailto:hitalos@gmail.com" title="Gmail")  Hítalo Silva
