script#header-template(type="x-template")
  nav.navbar
    .navbar-brand
      router-link.navbar-item(to="/")
        span.is-1.title Radiola
      .navbar-burger(@click="toogleMenu")
        span
        span
        span
    .navbar-menu(:class="showMenu ? 'is-active': ''")
      .navbar-end
        router-link.navbar-item(to="/player") Player
        router-link.navbar-item(to="/songs") Songs
        router-link.navbar-item(to="/albums") Albums
        router-link.navbar-item(to="/artists") Artists
        router-link.navbar-item(to="/admin") Admin
