script#player-template(type="x-template")
  .columns
    .column.is-8
      nav.panel
        .panel-heading playlist
        .panel-block
          .column.is-10 Title
          .column.is-2 Duration
        .panel-block(v-for="song in playlist")
          .column.is-10
            h4.is-4.title {{ song.title }}
          .column.is-2.has-text-centered
            .tag.is-medium.is-primary {{ song.duration }}
    .column.is-4
      .card
        .card-header
          .card-header-title Playing now
        .card-content.player-controls
          .icon.fa.fa-play(@click="play" title="Play songs")
          .icon.fa.fa-pause(@click="pause" title="Pause/Resume playing song")
          .icon.fa.fa-stop(@click="stop" title="Stop playing")
          .icon.fa.fa-fast-forward(@click="next" title="Play next song")
