script#songs-template(type="x-template")
  nav.panel
    .panel-heading Listing by title
    .panel-block
      .column.is-10 Title
      .column.is-1.has-text-centered Duration
      .column.is-1.has-text-centered Actions
    .panel-block(v-for="song in songs")
      .column.is-10
        h4.is-4.title {{ song.title }}
      .column.is-1.has-text-centered
        .tag.is-medium.is-primary {{ song.duration }}
      .column.is-1.has-text-centered
        .icon.fa.fa-plus.is-primary(@click="add(song)" title="Add to current playlist")
