doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Radiola
    link(rel="stylesheet", href="/styles/app.css")
  body
    block content
    include ./components/index
    script(src="/scripts/app.js")
